/* .wrapper {
} */
.box__header {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__logo {
  flex: 0 0 60px;
  position: relative;
  z-index: 3;
  transition: all 400ms ease-out;
}
.header__logo:hover {
  transform: scale(1.2);
  transform: 1s;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header__burger {
  display: none;
}
/* .header__menu {
} */

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: #212121;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
}
.header__link::after {
  display: block;
  content: '';
  width: 0;
  background-color: #bf1e2d;
  height: 2px;
  margin-top: 1px;
  transition: width 300ms ease-in;
}
.header__link:hover {
  color: #262162;
}
.header__link:hover::after {
  width: 100%;
}

.content {
  padding: 100px 0px 0px 0px;
}
/* =====================ANIMATION==================== */
.heading-anim {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;

  backface-visibility: hidden;
  /* text-align: center;
  top: 50%;
  transform: translateY(200px); */
}
.heading-primary-main {
  display: block;
  font-size: 60px;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* 
  animation-delay: 3s;
  */
}
.heading-primary-sub {
  display: block;
  font-size: 32px;
  letter-spacing: 17.4px;
  animation: moveInRight 1s ease-out;
  font-weight: 700;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px) rotate(-50deg);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px) rotate(50deg);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (min-width: 320px) {
  .slide {
    height: 600px;
    background-image: url(../img/Fura480-bg.jpg);
  }
  .heading-primary-main {
    font-size: 45px;
    letter-spacing: 7px;
  }
  .heading-primary-sub {
    font-size: 35px;
    letter-spacing: 7px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header__logo {
    margin: 0 auto;
  }
  .slide {
    height: 600px;
    background-image: url(../img/Fura768-bg.jpg);
  }
  .heading-primary-main {
    font-size: 70px;
    letter-spacing: 10px;
  }
  .heading-primary-sub {
    font-size: 60px;
    letter-spacing: 10px;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__link {
    color: #fff;
  }
  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #212121;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
    text-align: center;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .slide {
    background-image: url(../img/Fura960-bg.jpg);
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .slide {
    background-image: url(../img/Fura1200-bg.jpg);
  }
}
@media (min-width: 1200px) {
  .slide {
    background-image: url(../img/Fura1600-bg.jpg);
  }
}

@media (min-width: 768px) {
  .header__logo {
    flex: 0 0 90px;
  }
  .heading-primary-main {
    font-size: 70px;
    letter-spacing: 10px;
  }
  .heading-primary-sub {
    font-size: 60px;
    letter-spacing: 10px;
  }
}

@media (max-width: 767px) {
  .content {
    padding: 70px 0px 0px 0px;
  }
}
