.main-box {
  padding: 3rem;
  margin-top: 80px;
}
.sly {
  display: none;
  background-color: rgb(237, 237, 237);
  border: hsl(0, 0%, 75%) solid 1px;
  color: #444;
  height: auto;
  margin: 5px 0;
  padding: 10px;
  text-align: justify;
}
.text-about-us {
  margin-top: 20px;
}
.title-about {
  color: #262162;
  font-weight: bold;
  font-size: 25px;
}
.title-about::after {
  display: block;
  content: '';
  width: 120px;
  height: 3px;
  background-color: red;
}
.contin-about {
  color: red;
  cursor: pointer;
}
.btn-about {
  margin-top: 10px;
  border: 1px solid red;
  padding: 0.5rem;
  color: white;
  background-color: #262162;
}
.btn-about:hover {
  color: red;
}
.btn-show {
  display: block;
  padding: 1rem;
  margin-top: 10px;
}
.btn-show:first-child {
  margin-top: 0px;
}
