@import 'burger-menu.css' screen;
@import 'main.css' screen;
@import 'marka.css' screen;
@import 'testburg.css' screen;
@import 'contact.css' screen;
@import 'about-us.css' screen;
@import 'slider.css' screen;
@import 'footer.css' screen;
@import 'media-footer.css' screen;

body {
  min-width: 320px;
  max-width: 2000px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
img {
  display: block;
  width: 100%;
}
